$white: hsl(0, 0%, 100%);
$Light-Grey: hsl(213, 20%, 21%);
$Dark-Blue: hsl(213, 20%, 18%);
$Very-Dark-Blue: hsl(216, 12%, 8%);
$Font-size : 15px;
$Orange: hsl(25, 97%, 53%);
$Mobile: 375px;
$Desktop: 1440px;

.container {
  margin-top: auto;
  margin: auto;
  background: $Dark-Blue;
  border-radius: 25px;
  width: 380px;
  height: 350px;
  
  .box {
    display: flex;
    flex-direction: column;
    
    .icon {
      background-color: $Light-Grey;
      padding: 5px;
      border-radius: 50%;
      margin: 25px 30px;
    }
    
    
    h1 {      margin: 8px 30px;
      color: $white;
    }
    
    p {
      // font-size: $Font-size;
      margin: 8px 30px;
      color: #ffffff40;
    }
    
    .span  {
      margin: 10px;
      display: flex;
      justify-content: space-around;
      span {
        padding: 15px 20px;
        background-color: $Light-Grey;
        border-radius: 50%;
        color: $white;
        transition: all ease-in-out 0.3s;
          
        
        &:hover{
          cursor: pointer;
          font-weight: bold;
          color: #000;
          background-color: $Orange;
        }
        &:active{
          color: #000;
          background-color: $white;
        }
      }
    }
    
    button {
      transition: all ease-in-out 0.3s;
      font-size: $Font-size;
      border: 1px solid #000;
      border-radius: 24px;
      background-color: $Orange;
      padding: 10px 3px;
      margin: 10px 20px;
      transform: scale(1.02);
      &:hover{
        cursor: pointer;
        background-color: $white;
      }

    }
  }
}
@media only screen and (max-width:420px) {
  .container{
    width: 330px !important;
  height: 360px !important;
  }
  .box{
    p{
      margin: 1rem !important;
    }
    button{
      margin-top: 1rem !important;
    }
    
  }

}