$white: hsl(0, 0%, 100%);
$Light-Grey: hsl(213, 20%, 21%);
$Dark-Blue: hsl(213, 20%, 18%);
$Very-Dark-Blue: hsl(216, 12%, 8%);
$Font-size : 15px;
$Orange: hsl(25, 97%, 53%);
$Mobile: 375px;
$Desktop: 1440px;
*{
  overflow-inline:auto
}
.container {
  // margin-top: auto;
  margin: auto;
  background: $Dark-Blue;
  border-radius: 25px;
  width: 380px;
  height: 350px;
  text-align: center;

  .box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    svg{
      display: flex;
      text-align: center;
      margin: 30px auto;
      justify-content: center;
      align-items: center;
    }
    span{
      color: $Orange;
      background-color: $Light-Grey;
      padding: 3px 9px;
      margin: 0 auto;
      border-radius: 30px;
    }

    h1 {
      margin: 8px 30px;
      color: $white;
    }
    
    p {
      font-size: $Font-size;
      margin: 8px 30px;
      color: #ffffff40;
    }

  

  }
}