*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  background: black;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.App{
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}